/*
    Import League Gothic <3
*/
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('leaguegothic-regular-webfont.woff') format('woff'),
    url('leaguegothic-regular-webfont.ttf') format('truetype'),
    url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main-container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

.container {
    text-align: center;
}

/* for mobile screens otherwise it messes up the nav*/
#searchFieldNav {
    width: 65%;
}

h2 {
  border-bottom: 1px solid #ccc;
  margin-top: 2em;
}

h1.title span.wrap {
    min-height: 1em;
    display: inline-block;
}

h1.title > span {
    font-family: "League Gothic", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 1.75rem;
    font-size: 1.5em;
}

.subtitle {
    font-size: 0.80em;
    margin-top: -1.0rem;
    min-height: 1.25em;
}

.post {
    margin-bottom: 1em;
    list-style-type: none;
}

.post.pinned {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #fdfdfd;
  padding: 0.25em;
}
.post.pinned i {
  float: right;
}

.nice-title {
    font-size: larger;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}

.nice-text {
    font-family: "Open Sans", sans-serif;
}

.card-content {
    padding: 0.5em 0 1em;
}
.card-content.filled {
    padding: 0;
}

.fa-heart:hover {
    color: red;
}

.footer {
    padding: 1rem 1.5rem 1rem;
    font-size: 0.8rem;
}

.footer .spaced-out span {
  margin: 0 1rem;
}

.post-title {
    font-size: x-large;
    font-family: Roboto, sans-serif;
}

.post-image {
  float: left;
  padding: 0.25em;
  margin: 0 1em 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  max-height: 205px;
  max-width: 205px;
}

.post-source {
  float: right;
}

.post-meta {
    font-family: "Open Sans", sans-serif;
    font-size: small;
}

.post-tags,
.post-categories {
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  font-size: small;
}
.post-tags {
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
}

.post-tag,
.post-category {
  border: 1px solid #ccc;
  border-radius: 0.25em;
  padding: 0 0.25em;
  background-color: #fafafa;
}

.post-text {
    font-family: "Open Sans", sans-serif;
}

.post-text p {
    margin-bottom: 1em;
}

.post-text .conditions {
  border: 1px solid #ccc;
  border-radius: 0.25em;
  padding: 0 0.25em;
  background-color: #fafafa;
  font-size: 0.8em;
  line-height: 1.1em;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

.post-text img {
  padding: 0.25em;
  margin: 0.25em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}
.post-text img.rightside {
  float: right;
}
.post-text img.leftside {
  float: left;
}

.post-text blockquote {
  margin-left: 1em;
  padding-left: 0.25em;
  border-left: 4px solid #ccc;
  background-color: #f7f7f7;
}

.post-text blockquote p:first-child:before,
.post-text blockquote p:last-child:after {
  font-family: "FontAwesome";
}

.post-text blockquote p:first-child:before {
  float: left;
  content: "\f10d";
  margin-right: 2px;
}
.post-text blockquote p:last-child:after {
  float: right;
  content: "\f10e";
}

.fa-puppet {
  font-family: dag !important;
}
.fa-puppet:before {
  content: "\e800";
}

.tag_box {
  font-size: 0.65em;
  font-weight: bold;
  text-align: center;
}

.tag_box li a {
  padding: 4px;
}
.tag_box li a span {
  background-color: rgba(252, 252, 252, 0.22);
  border: 1px solid #ccc;
  border-radius: 25%;
  padding: 0.15em 0.25em;
  margin-left: 0.5em;
}
.tag_box li a span:hover {
  color: black;
}

.tag_group {
  display: none;
}

i.center {
  vertical-align: baseline;
}

div.highlight {
  margin-bottom: 1em;
}

/* sorry God. Just once */
.sidebar {
    padding: 0 0.75rem 0.75rem 0.75rem !important;
}

.box {
    padding: 0.75rem;
    margin-bottom: 0.75rem;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    color: #57A3E8;
}
/* Hotfix for lists being misaligned */
.tile.is-parent ol, ul {
  padding: 2% 5%;
}
/* Hotfix for Bulma striping headings of styling */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
ul {
  list-style: initial;
}

table {
  margin: 1em 0;
  border: 1px solid #cecece;
}

th {
  border-bottom: 2px solid black;
  padding: 0 0.25em;
}

td {
  border: 1px solid #efefef;
  padding: 0 0.25em;
}

tr:nth-child(even) {background-color: #f2f2f2;}



/* holiday funs */
canvas#scene {
  height:250px;
  background:black;
  display: block;
  margin: 0 auto;
  display: none;
}

@media screen and (max-width: 768px) {
  .pagination {
    flex-wrap: nowrap;
  }
  .pagination-list {
    font-size: 0%;
  }
}
/* ~ jpasholk */
